---
layout: default
---

{% include hero.html %}
{% include navigation.html %}



<section class="section">
    <div class="container">

        <div class="columns is-multiline">
            {% assign linha = site.data.argonauta-alias %}
            {% for dados in linha %}




            <div class="column is-one-quarter-desktop is-half-tablet">
                <div class="card">
                    <div class="card-header has-text-weight-bold is-family-monospace">{{dados.Numero}}</div>
                    <div class="card-image">
                        <figure class="image is-3by4">
                            <a href="/livros/{{dados.Titulo-link | append: ".html" }}">
                                <img loading=lazy src="/assets/front/{{dados.Titulo-link | append: ".jpg"}}"  alt="{{dados.Titulo}}">
                            </a>
                        </figure>
                    </div>
                    <div class="card-content">
                        
                        <p class="subtitle is-size-6 is-italic">{{dados.Autor}}</p>
                    </div>
                </div>
            </div>
     
            {% endfor %}
        </div>


    </div>
</section>