---
layout: default
---

{% include hero.html %}
{% include navigation.html %}



<section class="section">
    <div class="container">

        <div class="columns is-multiline is-variable is-1">
            {% assign linha = site.data.argonauta-alias %}
            {% for dados in linha %}




            <div class="column is-one-quarter-desktop is-half-tablet">
                <div class="card">
                    
                    <div class="card-image">
                        <figure>
                            <a href="/livros/{{dados.Titulo-link | append: ".html" }}">
                                <img loading=lazy src="/assets/front/{{dados.Titulo-link | append: ".jpg"}}"  alt="{{dados.Titulo}}">
                            </a>
                        </figure>
                        <p class="subtitle is-size-5 has-text-weight-semibold has-text-white is-family-monospace date">{{dados.Numero}}</p>
                    </div>
                    
                </div>
            </div>
     
            {% endfor %}
        </div>


    </div>
</section>