<!DOCTYPE html>
<html lang="pt-PT">  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} - {{ page.title }}</title>
    
    <!-- Set the base URL for all relative URLs within the document
    <base href="not yet set"> 
    -->
    
     <!-- FAVICON -->
   {% include favicon.html %}

       <!-- CSS PARA REMOVER????-->
       <link rel="stylesheet" href="{{ site.baseurl }}{{ site.assets }}/main.css">