<nav class="navbar is-spaced is-transparent is-light" role="navigation" aria-label="main navigation">


  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/index.html">
        <img loading=lazy src="/assets/nav_icons/planeta1.png" alt="Home">
      </a>

      <a class="navbar-item" href="/autores-lista.html">
        <img loading=lazy src="/assets/nav_icons/planeta2.png" alt="Listagem de Autores">
      </a>
    </div>
    <div class="navbar-brand">
      <a class="navbar-item" href="indes.html">
        <img loading=lazy src="/assets/logo/logo_medio.png" width="308" height="115">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <a class="navbar-item" href="/autores.html">
      <img loading=lazy src="/assets/nav_icons/planeta3.png" alt="Autores">
    </a>


  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>