// Hero image
.argo
  background-image: url("/assets/hero_2.jpg")
  background-position: center center
  background-repeat: no-repeat
  background-size: cover

.argo1
  background-image: url("https://picsum.photos/600/200/?blur")
  background-position: center center
  background-repeat: no-repeat
  background-size: cover




// Cartões de autores    
.card-equal-height 
   display: flex
   flex-direction: column
   height: 100%

.card-equal-height .card-footer 
  margin-top: auto

.card
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
	border-radius: 0.5rem
  overflow: visible

.card img
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19)
	border-radius: 0.5rem
	max-width: 96.5%
	max-height: 96.5%
	margin: 0 auto
	margin-top: -3.5%

// Cartões de autores - imagem

.cardimg1
    bottom: 1.5rem
    padding: 1rem
