---
layout: default
---
{% assign b = page.alias %}

{% assign livros = site.data.argonauta-alias | where: "alias", b %}


<section class="container">
    <div class="columns autores-hero">
      <div class="column is-5 is-offset-1 is-align-self-flex-end has-text-centered">
        <h1 class="is-size-1 is-inline-mobile has-text-weight-bold">{{ site.data.autores[b].nome-real }}</h1>
      </div>
      <div class="column pb-6">
        <blockquote class="bloco"><p>
          {{ site.data.autores[b].quote }}
          </p>
      </blockquote>
      </div>
    </div>
    
      <div class="columns">
      <div class="column is-one-quarter">
        <div class="columns">
          <div class="column is-full baixo">
      <figure class="image">
      <img class="is-rounded cima" src="/assets/autores/{{b |append:".jpg" alt="{{ site.data.autores[b].nome-real}}">
    </figure>
         </div>
         </div>
        <div class="columns pl-3">
        <div class="column is-full">
            <ul>
              <li>
                <span class="icon-text">
                  <span class="icon"><img loading=lazy src="/assets/icons/nascimento.svg" alt="nascimento">
                    
                  </span><span>
                {{ site.data.autores[b].nascido}}</span></li>
              <li>
                <span class="icon-text">
                  <span class="icon"><img loading=lazy src="/assets/icons/morte.svg" alt="morte">
                    
                  </span>
                {{ site.data.autores[b].obito}}</span></span></li>
            </ul>
        </div>
        </div>
      </div>
      <div class="column">
    <div class="columns is-vcentered is-mobile is-multiline borda">
      {% for g in livros %}
      {% assign link = site.data.argonauta-alias | find: "Titulo" , g.name %}      
      
      <div class="column is-full">
            <article class="media box">
      <figure class="media-left is-2by1">
        <p class="image">
          <a href="{{baseurl}}/livros/{{g.Titulo-link | append:".html"}}">
          <img loading=lazy src="/assets/front/thumb100/{{ g.Titulo-link | append:".jpg"}}">
        </a>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{ g.Titulo }}</strong> <small>Publicado em</small> <small>{{g.Ano-de-Publicacao}}</small>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
          </p>
        </div>
        </div>
      </article>
      
      </div>
      {% endfor %}
        
      
      
        
    </div>
</section>