---
layout: default
---
<!-- Layout: Autores -->
<section class="section">

    <div class="columns">

        <!--Section: autor-->

        <div class="column is-two-thirds box">

            <!--Coluna 1-->


            <h1>Hello!</h1>

            <!--Texto-->
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad
                autem vel eum iure reprehenderit qui in ea minima veniam, quis nostrum exercitationem ullam corporis
                suscipit laboriosam.</p>

            <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et
                voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
                delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
                repellat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo.</p>






        </div>
        <!--/coluna 1-->

        <!--Coluna 2-->
        <div class="column">

            <!--Imagem-->
            {% comment %}
            <figure class="image is-1by1">
                <img class="is-rounded" src="/assets{{ page.url | append: " .jpeg" }}">
                {% endcomment %}

                <!--Imagem placeholder-->
                <figure class="image is-1by1">
                    <img class="is-rounded" src="https://via.placeholder.com/300/0000FF/808080 ?Text=AUTOR_PLACEHOLDER">
        </div>
        <!--/Coluna 2-->

    </div>


</section>

<!--/ Layout: Autores -->
<div>
    <div class="divider is-success">VOLUMES PUBLICADOS</div>
</div>
<!-- Lista de livros -->

<section class="section">

    <div class="container">
        <div class="columns is-multiline">
            {% assign a = page.url | remove: "/autores/" %}

            {% assign livros = site.data.argonauta-alias | where: "alias", a %}
            {% for g in livros %}
            {% assign link = site.data.argonauta-alias | find: "Titulo" , g.name %}

            <div class="column is-one-quarter-desktop is-half-tablet">


                <div class="card ">

                    <div class="card-header">
                        <p class="card-header-title is-centered">
                            <a href="/livros/{{ g.Titulo-link | append: ".html" }}">
                            {{ g.Titulo }}
                        </p>
                    </div>
                    <div class="card-image">
                        <figure class="image">
                            

                                {% comment %}
                                <img src="/livros/front/{{ g.Titulo-link | append: " .jpeg" }}"
                                    data-name="{{ image.name }}" alt="{{ image.name }}">
                                {% endcomment %}

                                <img src=" https://via.placeholder.com/115X150/d9d24c/" }}" data-name="{{ image.name }}"
                                    alt="{{ image.name }}">

                            </a>
                        </figure>
                    </div>
                </div>




            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!--/ lista de livros -->