---
---
<!--Head com componentes comuns a todo o site-->
{% include head.html %}

<!--LIQUID logic-->

{% assign b = page.url | remove: "/autores/" %}
{% assign livros = site.data.argonauta-alias | where: "alias", b %}

<!--end LIQUID logic-->


<!--Elementos HEAD únicos do layout autores-->
<!---CSS-->
<link rel="stylesheet" href="{{ site.baseurl }}{{ site.assets }}/autores.css">

<meta name="description" content="A description of the page">

<!-- Site custom CSS autores -->

<!--opengraph-->
<meta property="og:type" content="books.author">
<meta property="og:title" content="{{site.data.autores[b].nome-real}}">
<meta property="og:url" content="{{page.url}}">
<meta property="og:image" content="/assets/autores/{{b |append:".jpg"}}">
{% for gg in livros %} {% assign link = site.data.argonauta-alias | find: "Titulo" , gg.name %}
<meta property="books:book" content="/livros/{{ gg.Titulo-link | append: ".html" }}">
{%endfor%}

<!--end opengraph-->

<!--Facebook NECESSARIO TESTAR-->
<!--
<meta property="og:url" content="{{SITE.URL}}/{{page.url}}">
<meta property="og:type" content="website">
<meta property="og:title" content={{page.title}}>
<meta property="og:image" content="{{capa}}">
<meta property="og:image:alt" content="{{livros.Titulo}}">
<meta property="og:description" content="">
<meta property="og:site_name" content="Colecção Argonauta">
<meta property="og:locale" content="pt_PT">
<meta property="article:author" content="">
<!--Twitter card Opengraph-->
<!-- 
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@site_account">
<meta name="twitter:creator" content="@individual_account">
<meta name="twitter:url" content="https://example.com/page.html">
<meta name="twitter:title" content="Content Title">
<meta name="twitter:description" content="Content description less than 200 characters">
<meta name="twitter:image" content="https://example.com/image.jpg">
<meta name="twitter:image:alt" content="A text description of the image conveying the essential nature of an image to users who are visually impaired. Maximum 420 characters.">
-->

</head>

<body>
{%include navigation.html%}



  <section class="container">
    <div class="columns">
      <div class="column is-full">
        <hr>
        <article class="media">
          <figure class="media-left ml-4">
            <p class="image is-128x128">
              <img class="is-rounded" src="/assets/autores/{{b |append:".jpg"}}"
                alt="{{ site.data.autores[b].nome-real}}">
            </p>
          </figure>
          <div class="media-content">
            <div class="content"><p>
              <H1>{{ site.data.autores[b].nome-real }}</H1> 
            </p>
            </div>
          </div>
        </article>


        <hr>
      </div>

    </div>
    <div class="columns">
      <div class="column is-9 box">
        <div class="container is-fluid">
          <div class="columns is-multiline is-mobile">
<div class="column is-full has-text-right">
  {{livros.size}} Títulos na Colecção Argonauta
</div>




            {% for g in livros %}
            {% assign link = site.data.argonauta-alias | find: "Titulo" , g.name %}

            <div class="column is-one-fifth-desktop is-half-tablet is-half-mobile">
              <div class="card card-index3">

                <div class="card-image">
                  <figure class="image">
                    <a href="/livros/{{g.Titulo-link | append: ".html" }}">
                      <img loading=lazy src="https://picsum.photos/20/30"}}" alt="{{g.Titulo}}">
                  <!--    <img loading=lazy src="/assets/front/{{g.Titulo-link | append: ".jpg"}}" alt="{{g.Titulo}}">  -->
                    </a>
                  </figure>
                </div>

              </div>
            </div>

            {%endfor%}



          </div>




        </div>
      </div>
      <div class="column ml-3">
        <h2>
        Autores:</h2>
        <ul>
          {% assign autores = site.data.argonauta-alias | group_by: "Autor" | sort:"name" %}
          {% for a in autores %}
          {% assign link = site.data.argonauta-autores | find: "Autor" , a.name %}
      <li class="py-1"><a href="/autores/{{ link.alias | append: ".html" }}">{{ a.name }}</a></li>
      {%endfor%}
      </ul>
      </h2>
      </div>
    </div>
  </section>

  {% include footer.html %}

</body>

</html>
