---
layout: default
---
<section class="container">
    <div class="columns cover">
      <div class="column is-5 is-offset-1 is-align-self-flex-end has-text-centered">
        <h1 class="is-size-1 is-inline-mobile">Título Título Título</h1>
      </div>
      <div class="column pb-6">
        <blockquote class="bloco"><p>{{content}}
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, antfe. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
      </blockquote>
      </div>
    </div>
    
      <div class="columns">
      <div class="column is-one-quarter">
        <div class="columns">
          <div class="column is-full baixo">
      <figure class="image">
      <img class="is-rounded cima" src="http://www.gravatar.com/avatar/c5c2bf91367bd7a36cd7a936e137eab4.png?s=200">
    </figure>
         </div>
         </div>
        <div class="columns pl-3">
        <div class="column is-full">
            <br>Lorem qualquer<br>Lorem qualquer<br>Lorem qualquer<br>
        </div>
        </div>
      </div>
      <div class="column">
    <div class="columns is-vcentered is-mobile is-multiline borda">
          <div class="column is-full">
            <article class="media box">
      <figure class="media-left is-2by1">
        <p class="image">
          <img src="https://picsum.photos/100/150">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
          </p>
        </div>
        </div>
      </article>
      
      </div>
    
        <div class="column is-full">
            <article class="media box">
      <figure class="media-left is-2by1">
        <p class="image">
          <img src="https://picsum.photos/100/150">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
          </p>
        </div>
        </div>
      </article>
      </div>
        
        
       <div class="column is-full">
            <article class="media box">
      <figure class="media-left is-2by1">
        <p class="image">
          <img src="https://picsum.photos/100/150">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
          </p>
        </div>
        </div>
      </article>
      
      </div>
      
      
        
    </div>
</section>