---
layout: default-livro
---

{% assign a = page.url | remove: "/livros/" %}
{% assign livros = site.data.argonauta-alias | find: "Titulo-link", a %}

{% include opengraph-livro.html capa=/assets/front/{{livros.Titulo-link | append: ".jpg" }}' titulo={{ livros.Titulo }} autor={{ livros.Autor }} %}


<section class="section ">
  <div class="container ">
    <div class="columns is-desktop is-vcentered is-flex-direction-row-reverse">
       <div class="column is-5-desktop is-align-self-flex-start ml-4 mb-3 livros" style="z-index:1; background-image: url('/assets/front/{{livros.Titulo-link | append: ".jpg" }}')">
        
      </div>

      <div class="column is-7-desktop box" style="position: relative; z-index:2">
         
          
        <p class="subtitle has-text-left">Número: {{ livros.Numero }} </p>

        <h2 class="title is-spaced has-text-left">{{ livros.Titulo }}</h2>
        <hr>
               

        <div class="tile is-ancestor has-background-dark fita">
          <div class="tile is-6 is-parent ">
            <div class="tile is-child has-background-dark">
              
              <span class="has-text-danger">Autor: </span>
              <span class="has-text-white-ter "><a href="/autores/{{ livros.alias |append: ".html" }}">{{ livros.Autor }}</a></span> 
              <br>
              
              
              <span class="has-text-danger">Co-Autor: </span>
              <span class="has-text-white-ter ">{{ livros.Co-autor }}</span> 
              <br>
              
              
              <span class="has-text-danger">Título original: </span>
              <span class="has-text-white-ter ">{{ livros.Titulo-original }}</span>
              <br>
              
              <span class="has-text-danger">Edição original: </span>
              <span class="has-text-white-ter ">{{ livros.Ano-de-edicao }}</span>
              <br>

              <span class="has-text-danger">Série: </span>
              <span class="has-text-white-ter ">{{ livros.Serie }}</span>
              <br>
              
            </div>
            </div>
          <div class="tile is-parent">
            <div class="tile is-child has-background-dark">
              
              
              <span class="has-text-danger">Tradutor: </span>
              <span class="has-text-white-ter ">{{ livros.Tradutor }}</span> 
              <br>
              
              <span class="has-text-danger">Ano de publicação: </span>
              <span class="has-text-white-ter ">{{ livros.Ano-de-Publicacao }}</span>
              <br>
              
              <span class="has-text-danger">Páginas: </span>
              <span class="has-text-white-ter ">{{ livros.pags }}</span> 
              <br>
                            
              <span class="has-text-danger">Capa: </span>
              <span class="has-text-white-ter ">{{ livros.Capa }}</span> 
              <br>
              
              
            </div>
          </div>
        </div>
        
        
<hr>





        <article class="subtitle is-family-monospace mx-6 is-size-6"> 
        {{ content }}
        </article>
      
        <hr>
          
      <div class="columns has-background-link-light">
        
         

          <div class="column is-half has-text-centered">
            
            
            <a href="#" onclick="OpenMore(0)">
              <img loading=lazy src="/assets/front/{{livros.Titulo-link | append: ".jpg"}}" alt="{{livros.Titulo}}"></a>

              <div class="modal modal-background">
                
            
                <img class="imagem-modal" src="/assets/front/{{livros.Titulo-link | append: ".jpg"}}" alt="{{livros.Titulo}}">
              </div>
      </div>

        

        <div class="column is-half has-text-centered">
          
        
          <a href="#" onclick="OpenMore(1)">
          <img loading=lazy src="/assets/back/{{livros.Titulo-link | append: ".jpg"}}" alt="{{livros.Titulo}}"></a>

          <div class="modal">
            
            <img class="imagem-modal" src="/assets/back/{{livros.Titulo-link | append: ".jpg"}}" alt="{{livros.Titulo}}">
            
          </div>
        </div>
      
         
    </div>   

      <hr class="borda_livro fundo">
      
        <article class="mx-4 my-4">
        {{ page.review | markdownify }}
      </article>
        
<hr>
      
      <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
        {% if livros.anterior==nil %}
        <a class="pagination-previous" disabled>Anterior</a>
        {%else%}
        <a class="pagination-previous" href="{{ livros.anterior | append:".html"}}">Anterior</a>
        {%endif%}

        {% if livros.seguinte==nil %}
        <a class="pagination-next" disabled>Próximo</a>
{%else%}
        <a class="pagination-next" href="{{ livros.seguinte | append:".html"}}">Próximo</a>
      {%endif%}
      </nav>

      </div>

    </div>
 


</section>

<script>
//One Modal
function OpenModal() {
    //Get element with Id= "modal"
    var modal = document.getElementById("modal");
    //Change style to display = "block"
    modal.style.display = "block";
}

//Multiple Modals
function OpenMore(n) {
    //Get elements with class="modal" into an array
    var modal = document.getElementsByClassName("modal");
    //Change style of modal number [n] to display = "block"
    modal[n].style.display = "block";
}

//This will close the modal once you click on it
window.addEventListener("click", function(event) {

    //For single modal
    var modal = document.getElementById("modal");
    //If the click was on the modal the modal style display = "none"
    if (event.target == modal) {
        modal.style.display = "none";
    }

    //For multiple modals
    var more = document.getElementsByClassName("modal");
    //i represents which modal. It will go through all modals
    for (var i = 0; i < more.length; i++) {
        //If the click was on the modal for one of the modals display = "none"
        //for all of them
        //more[i].onclick=function(){more[i].style.display = "none";}
        if (event.target == more[i]) {
            more[i].style.display = "none";
        }
    }
});


</script>
