---
---
{% include head.html %}


{% assign a = page.url | remove: "/livros/" %}
{% assign livros = site.data.argonauta-alias | find: "Titulo-link", a %}
{% capture x %}{{ livros.alias }}{% endcapture %}
{% assign listagem = site.data.argonauta-alias | where: "alias", x %}

{% capture capa %}/assets/front/{{livros.Titulo-link | append: ".jpg" }}{% endcapture %}


<!--Elementos HEAD únicos do layout livro-->
<!---CSS-->
<link rel="stylesheet" href="{{ site.baseurl }}{{ site.assets }}/livro.css">

<meta name="description" content="A description of the page">

<!-- The first, last, previous, and next documents in a series of documents, respectively -->
<link rel="first" href="/livros/1-Perdidos-na-Estratosfera.html">
<link rel="last" href="/livros/563-Dune-1-volume.html">
{% if livros.anterior==nil %} {%else%}<link rel="prev" href="{{ livros.anterior | append:".html"}}">{%endif%}
{% if livros.seguinte==nil %} {%else%}<link rel="next" href="{{ livros.seguinte | append:".html"}}">{%endif%}


<!--Generic Opengraph-->
<meta property="og:type" content="books.book">
<meta property="og:title" content="{{ livros.Titulo }}">
<meta property="og:url" content="{{site.url}}">
<meta property="og:image" content="{{capa}}">
<!--<meta property="books:isbn" content="">
<meta property="books:rating:value" content="">
<meta property="books:rating:scale" content=""> -->
<meta property="books:author" content="{{livros.Autor}}">

<!--Facebook NECESSARIO TESTAR-->
<!--
<meta property="og:url" content="{{SITE.URL}}/{{page.url}}">
<meta property="og:type" content="website">
<meta property="og:title" content={{page.title}}>
<meta property="og:image" content="{{capa}}">
<meta property="og:image:alt" content="{{livros.Titulo}}">
<meta property="og:description" content="">
<meta property="og:site_name" content="Colecção Argonauta">
<meta property="og:locale" content="pt_PT">
<meta property="article:author" content="">

<!--Twitter card Opengraph-->
<!-- 
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@site_account">
<meta name="twitter:creator" content="@individual_account">
<meta name="twitter:url" content="https://example.com/page.html">
<meta name="twitter:title" content="Content Title">
<meta name="twitter:description" content="Content description less than 200 characters">
<meta name="twitter:image" content="https://example.com/image.jpg">
<meta name="twitter:image:alt" content="A text description of the image conveying the essential nature of an image to users who are visually impaired. Maximum 420 characters.">
-->

</head>





<body>
  {%include navigation.html%}

  <section class="hero is-small" style="background-color:#fafafa;">
    <div class="hero-body">
      <div class="columns is-variable is-6" id="hero">
        <div class="column is-one-third is-offset-1" id="Capa-do-livro">
          <img src="/assets/front/{{livros.Titulo-link | append: ".jpg" }}" alt="" style="margin-bottom:-50px">
        </div>
        <div class="column" id="Informação">
          <div class="level">
            <div class="level-left">
              <div class="level-item">
                <figure class="media-left">
                  <p class="image is-48x48">
                    <img class="is-rounded" src="/assets/autores/{{ livros.alias |append:".jpg"}}"
                      alt="{{ livros.Autor }}">
                  </p>
                </figure>
              </div>
              <div class="level-item">
                <p>
                  <h1 class="is-size-3 has-text-left ">{{ livros.Autor }}</h1>
                </p>
              </div>
            </div>
          </div>

                   
          <h2 class="title is-spaced has-text-left has-text-weight-bold">{{ livros.Titulo }}</h2>
          <p class="subtitle has-text-left is-size-6">Número: {{ livros.Numero }} </p>
          <hr>

          <article class="mx-4 my-4">
            {{ page.review | markdownify }}
            <hr>
            
          </article>



        </div>
      </div>
    </div>
  </section>


  <section class="section" id="2">


    <div class="container">

      <div class="columns is-variable is-6 mt-6" id="conteudo">
        <div class="column is-four-fifths">
          <article class="subtitle is-family-monospace mx-6 is-size-6 mb-6">
            {{ content }}
          </article>
          <hr>
          <div class="columns has-background-link-light">
            <div class="column is-one-third" id="Detalhes">
              <h3 class="pb-4 is-size-5">Detalhes do livro:</h3>
              <ul>
                <li><span class="has-text-danger">Autor: </span>
                  <a href="/autores/{{ livros.alias |append: ".html" }}">{{ livros.Autor }}</a></li>
                <li><span class="has-text-danger">Co-Autor: </span>
                  {{ livros.Co-autor }}</li>
                <li><span class="has-text-danger">Título original: </span>
                  {{ livros.Titulo-original }}</li>
                <li><span class="has-text-danger">Edição original: </span>
                  </span>{{ livros.Ano-de-edicao }}</li>
                <li><span class="has-text-danger">Série: </span>
                  {{ livros.Serie }}</li>
                <li><span class="has-text-danger">Tradutor: </span>
                  {{ livros.Tradutor }}</li>
                <li><span class="has-text-danger">Ano de publicação: </span>
                  {{ livros.Ano-de-Publicacao }}</li>
                <li><span class="has-text-danger">Páginas: </span>
                  {{ livros.pags }}</li>
                <li><span class="has-text-danger">Capa: </span>
                  {{ livros.Capa }}</li><hr>
                <li><span class="has-text-danger is-italic is-lowercase is-size-6">ISFDB: 
                    <a href="{{ livros.Livro-isfdb }}" target="_blank">{{ livros.Livro-isfdb | remove:"http://www.isfdb.org/cgi-bin/pl.cgi?"}}</a></span></li>
                <li><span class="has-text-danger is-italic is-lowercase is-size-6">ISFDB (vo): 
                    <a href="{{ livros.Livro-isfdb-original }}" target="_blank">{{ livros.Livro-isfdb-original | remove:"http://www.isfdb.org/cgi-bin/title.cgi?"}}</a></span></li>
                <li><span class="has-text-danger is-italic is-lowercase is-size-6">Bibliowiki: 
                    <a href="http://bibliowiki.com.pt{{ livros.Livro-bibliowiki }}" target="_blank">{{ livros.Livro-bibliowiki | remove:"/index.php/"}}</a></span></li>
                          
              </ul>

            </div>

            <div class="column two-thirds" id="imagens-modal">
              <h3 class="pb-4 is-size-5">Imagens</h3>
              <div class="columns">
                <div class="column is-half has-text-centered">
                  <a href="#" onclick="OpenMore(0)">
                    <img loading=lazy src="/assets/front/{{livros.Titulo-link | append: ".jpg"}}"
                      alt="{{livros.Titulo}}"></a>

                  <div class="modal modal-background">


                    <img class="imagem-modal" height="1125" src="/assets/front/{{livros.Titulo-link | append: ".jpg"}}"
                      alt="{{livros.Titulo}}">
                  </div>
                </div>



                <div class="column is-half has-text-centered">


                  <a href="#" onclick="OpenMore(1)">
                    <img loading=lazy src="/assets/back/{{livros.Titulo-link | append: ".jpg"}}"
                      alt="{{livros.Titulo}}"></a>

                  <div class="modal">

                    <img class="imagem-modal" height="1125" src="/assets/back/{{livros.Titulo-link | append: ".jpg"}}"
                      alt="{{livros.Titulo}}">

                  </div>
                </div>
              </div>


            </div>
          </div>
          {%if page.listagem%}
          <hr>
          <div class="columns has-background-grey-lighter">
            <div class="column" id="Detalhes2">
              
              <h3 class="pb-4 is-size-5">Detalhes 2:</h3>
              {{ page.listagem | markdownify }}

            </div>
          </div>
          {%else%}
          
          {%endif%}


        </div>


          <aside class="column">
            <article class="media">
              <figure class="media-left">
                <p class="image is-48x48">
                  <img class="is-rounded" src="/assets/autores/{{ livros.alias |append:".jpg"}}"
                    alt="{{ livros.Autor }}">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{ livros.Autor }}</strong> na Colecção Argonauta
                  </p>
                </div>
              </div>
            </article>
            <hr>
            <ul>
              {% for delta in listagem %}
              {% assign argonauta = site.data.argonauta-alias | find: "Titulo" , delta.name %}

              <li class="py-1 box">{{delta.Numero}} - {{delta.Titulo}}</li>
              {%endfor%}
            </ul>

          </aside>
        </div>



  </section>

  <nav class="pagination is-rounded has-background-white-ter px-4 py-4" role="navigation" aria-label="pagination">
    {% if livros.anterior==nil %}
    <a class="pagination-previous" disabled> < Anterior</a>
    {%else%}
    <a class="pagination-previous" href="{{ livros.anterior | append:".html"}}"> < Anterior</a>
    {%endif%}

    {% if livros.seguinte==nil %}
    <a class="pagination-next" disabled>Próximo > </a>
    {%else%}
    <a class="pagination-next" href="{{ livros.seguinte | append:".html"}}">Próximo > </a>
    {%endif%}
  </nav>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Colecção Argonauta</strong> com algum texto que depois irei inventar</a>.
      </p>
    </div>
  </footer>




  <script>
    //One Modal
    function OpenModal() {
      //Get element with Id= "modal"
      var modal = document.getElementById("modal");
      //Change style to display = "block"
      modal.style.display = "block";
    }

    //Multiple Modals
    function OpenMore(n) {
      //Get elements with class="modal" into an array
      var modal = document.getElementsByClassName("modal");
      //Change style of modal number [n] to display = "block"
      modal[n].style.display = "block";
    }

    //This will close the modal once you click on it
    window.addEventListener("click", function (event) {

      //For single modal
      var modal = document.getElementById("modal");
      //If the click was on the modal the modal style display = "none"
      if (event.target.className == modal) {
        modal.style.display = "none";
      }



      //For multiple modals
      var more = document.getElementsByClassName("modal");
      //i represents which modal. It will go through all modals
      for (var i = 0; i < more.length; i++) {
        //If the click was on the modal for one of the modals display = "none"
        //for all of them
        //more[i].onclick=function(){more[i].style.display = "none";}
        if (event.target == more[i]) {
          more[i].style.display = "none";
        }
      }
    });
    //script navegacao
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    
      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {
    
        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {
    
            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);
    
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
    
          });
        });
      }
    
    });


  </script>

</body>

</html>
