---
layout: default
---
<section class="section">
        <div class="container">
          <div class="columns is-desktop is-vcentered" style="flex-direction: row-reverse;">

           <div class="column is-6-desktop imagem-de-artigo"><img src="https://bulma.dev/placeholder/pictures/bg_4-3.svg?primary=00d1b2" alt="">
		   
		   </div>
           
		   <div class="column is-6-desktop">

              <h2 class="title is-spaced">Official Pied Piper T-Shirt</h2>
              <p class="subtitle">This wonderful green shirt will make you an evangelist of Pied Pipers' world-changing technology. It will make you stand out anywhere you go - so say yes to decentralization, and say yes to our official Pied Piper swag.</p>
            
         {{ content }}

              <hr>
              <div class="level is-mobile">
                <div class="level-left">
                  <div class="level-item"><a href="#">Add to favorites</a></div>
                </div>
                <div class="level-right">
                  <div class="level-item">Share</div>
                  <a class="level-item" href="#"><img src="placeholder/icons/facebook-f.svg" alt=""></a><a class="level-item" href="#"><img src="placeholder/icons/twitter.svg" alt=""></a><a class="level-item" href="#"><img src="placeholder/icons/instagram.svg" alt=""></a>
                </div>
              </div>
            </div>
 
          </div>
        </div>
      </section>

